@page "/user/{Id:int}"
@attribute [Authorize];

@if (user != null)
{
    <h3>Пользователь</h3>
    <label>Логин</label>
    <p>@user!.Login</p>
    <label>Имя</label>
    <p>@user!.Name</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    UserService userService { get; set; }

    [CascadingParameter]
    HttpContext httpContext { get; set; }

    private UserOut user;

    protected override void OnInitialized()
    {
        try
        {
            user = userService.getById(Id);
        } catch (NotFoundException ex) {
            httpContext.Response.Redirect("/404");
        }
    }
}
