<div class="card" style="width: 18rem;" >
    <div class="card-body">
        <h5 class="card-title">@Document.Index</h5>
        <h6 class="card-subtitle mb-2 text-muted">Id: @Document.Id</h6>
        <p class="card-text">@Document.Content <br /> Согласован: @Document.IsApproved</p>
        <a href="#" class="card-link">Согласования</a>
        <a href="#" class="card-link">Владелец</a>
    </div>
    <div class="card-footer">
        <a href="/documents/@Document.Id" class="card-link">Подробнее</a>
    </div>
</div>

@code {
    [Parameter]
    public DocumentOut Document { get; set; }
}
