@page "/404"
@using ContractSystem.WebApp.Components.Layout
@layout EmptyLayout

<div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-white">Страница не найдена</h1>
        <a class="btn btn-outline-light mt-5" href="/">На главную</a>
    </div>
</div>