@page "/approval"
@rendermode InteractiveServer
@attribute [Authorize];

<PageTitle>Согласование договоров</PageTitle>
<div>
    <InputSelect @bind-Value="selectedUserId">
        <option value=""></option>
        @foreach (var user in users)
        {
            <option value="@user.Id">@user.Name</option>
        }
    </InputSelect>
<button @onclick="OnFilter">Выбрать пользователя</button>
</div>
<div>
    @foreach (var approval in filtredApprovals)
    {
        <DocumentApproveCard 
            Approval="approval"
            Approve="OnApprove"
            />
    } 
</div>


@code {
    [Inject]
    public DocumentService documentService { get; set; }
    [Inject]
    public UserService userService { get; set; }
    [Inject]
    public ApprovalService approvalService { get; set; }

    List<ApprovalOut> filtredApprovals = new();
    List<UserOut> users = new();

    int? selectedUserId = null;
    bool isModalShowed = false;
    public DocumentIn documentNew;

    private bool _popupNotify = false;
    private string _popupNotifyText = "";

    protected override void OnInitialized()
    {
        users = userService.getAll();
    }

    protected void OnFilter()
    {
        if (selectedUserId != null)
        {
            filtredApprovals = approvalService.GetAllByUser(selectedUserId.Value);

            StateHasChanged();
        }
    }

    public void OnApprove(ApproveDocumentModel approveDocument)
    {
        documentService.Approve(approveDocument.Id);
        OnFilter();
    }
}